[Desktop Entry]
Name=NPDVs
Exec=./npdvs-grafico/NPDVs-Grafico.sh
Icon=application-x-remote-connection
Terminal=false
Type=Application
StartupNotify=true
Name[pt_BR]=Nilsonlinux
Comment[pt_BR]=Automatização de processos regional. 
GenericName[pt_BR]=Processos regional
